.slide {
	&.fade {
		visibility: hidden;
		opacity: 0;
	}
	&.fade .slide-content {
		transform: translateY(-30%);
	}
	.content-wrapper {
		max-width: 1280px;
		margin: auto;
	}
	img, 
	.slide-content {
		display: inline-block;
	}
	img {
		max-height: 1000px;
		height: auto;
		width: 100%;
	}
	.slide-content {
		@extend %transition;
		color: white;
		text-shadow: -1px -1px 0 black;
		position: absolute;
		top: 50%;
		padding: 1.8em 2.5em;
		transform: translateY(-50%);
		border-left: .3rem solid orange;
		$css_property: max-width;
		@include interpolate($css_property, $min_screen_interpolate, $max_screen_retina, 450px, 800px);
	}
	h2 {
		margin-bottom: .5em;
	}
	@extend %transition;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 1;
	visibility: visible;
	background: linear-gradient(-125deg, #999  , #222 );
}


#carousel {
	@media (max-width: 530px) {
		.slide-content p {
			display: none;
		}
	}
	@media (min-width: 650px) {
		padding-bottom: 78.1%;
		height: 0;
		.slide {
			img {
				max-width: 50%;
			}
			.slide-content {
				left: calc(50% + 1rem);
				width: calc(50% - 1rem);
			}
		}
	}
	@media (min-width: 320px) and (max-width: 649px) {
		padding-bottom: 47%;
		.slide {
			img {
				max-width: 30%;
			}
			.slide-content {
				left: calc(30% + 1rem);
				width: calc(70% - 1rem);
			}
		}
	}
	@media (min-width: 1260px) {
		height:  1000px;
		padding-bottom: 0;
	}
	position: relative;
}
